<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733345361342-e8bk20s5gec2js93scl6d6bummps4neu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733345361342-e8bk20s5gec2js93scl6d6bummps4neu</string>
	<key>API_KEY</key>
	<string>AIzaSyCycDaFftoblcfPP7wY5i5JDHLgbBqzuBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>733345361342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.kccworld.koup</string>
	<key>PROJECT_ID</key>
	<string>koup-9c62b</string>
	<key>STORAGE_BUCKET</key>
	<string>koup-9c62b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733345361342:ios:c976b82246a98030951def</string>
	<key>DATABASE_URL</key>
	<string>https://koup-9c62b.firebaseio.com</string>
</dict>
</plist>