<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656695181944-o0qoiiptvt3c4ssmta1u8at19qu8rmvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656695181944-o0qoiiptvt3c4ssmta1u8at19qu8rmvh</string>
	<key>API_KEY</key>
	<string>AIzaSyAza4cUGcSqBEN5dHlhyQM6hRAaocVFaz8</string>
	<key>GCM_SENDER_ID</key>
	<string>656695181944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.kccworld.koup-dev</string>
	<key>PROJECT_ID</key>
	<string>koup-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>koup-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656695181944:ios:dacc4fc794e0d3c65da38d</string>
</dict>
</plist>